.navbar2 {
    overflow:hidden;
    background-color: #004961;
    color:white;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}


.navbar2 a {
    float:left;
    font-size:16px;
    color: white;
    text-align:center;
    padding:22px 26px;
    text-decoration: none;
    display:block;
    margin: 0 auto;
}

.dropdown2 {
    float:left;
    overflow:hidden;
}

.navbar2 .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar2 a:not(:first-child), .dropdown2 .dropbtn2 {
        display: none;
    }
    .navbar2 a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar2.responsive {position: relative;}
    .navbar2.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar2.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.dropdown2 {
    float:left;
    overflow:hidden;
}

.dropdown2 .dropbtn2 {
    font-size: 16px;
    border:none;
    outline:none;
    color:white;
    padding:22px 26px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
}

.navbar2 a:hover, .dropdown2:hover .dropbtn2 {
    background-color:#004961;
    color:white;
    display:block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content2 a {
    float:none;
    color:black;
    padding:22px 26px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown-content2 a:hover {
    background-color: #004961;
}

.dropdown2:hover .dropdown-content2 {
    display:block;
}

.navbar2.responsive a {
    float: none;
    display: block;
    text-align: left;
}
  .navbar2.responsive .dropdown2 {float: none;}
  .navbar2.responsive .dropdown-content2 {position: relative;}
  .navbar2.responsive .dropdown2 .dropbtn2 {
    display: block;
    width: 100%;
    text-align: left;
    padding:0;
}

.indexbody {
    color: #333;
    text-align:justify;
    font-size:20px;
}

.services {
    font-size:20px;
}

.footer2 .row {
    font-size: 14px;
    color: #333;
}

.indexbody p {
    font-size: 22px;
    text-align: center;
    color: #333;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.fa-facebook {
    padding:15px;
    font-size: 30px;
    width:50px;
    display:inline-block;
    text-decoration: none;
    border-radius:50%;
    margin-right:10px;
}

.fa-twitter {
    padding:15px;
    font-size: 30px;
    width:50px;
    display:inline-block;
    text-decoration: none;
    border-radius:50%;
    margin-left:10px;
}

.fa:hover {
    opacity:0,6;
}

.sm-links {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.row {
    text-align:center;
}

.tvlink {
    text-align:center;
    text-decoration: none;
    color:#333;
    font-size:1.5vw;
}

.tvpic {
    width:100px;
    height:75px;
    text-align:center;
    color:#333;
    text-decoration: none;
}

.vrpic {
    text-align:left;
    display:block;
    margin:0px auto;
    width:auto;
    height:auto;
    max-width:100%;
}

.camspic {
    text-align:left;
    display:block;
    margin:0px auto;
    width:auto;
    height:auto;
    max-width:100%;
}

.busimg {
    text-align:left;
    display:block;
    margin:0px auto;
    width:80%;
    height:auto;
    max-width:100%;
}

.coupon {
    text-align:left;
    display:block;
    margin:0px auto;
    width:auto;
    height:auto;
    max-width:100%;
}

.contactimg {
    text-align:left;
    display:block;
    margin:0px auto;
    width:auto;
    height:auto;
    max-width:50%;
}

.qbpic {
    text-align:left;
    display:block;
    margin:0px auto;
    width:45%;
    height:auto;
    max-width:100%;
}

.emsipic {
    text-align:left;
    display:block;
    margin:0px auto;
    width:auto;
    height:auto;
    max-width:100%;
}

.netpic {
    text-align:left;
    display:block;
    margin:0px auto;
    width:45%;
    height:5%;
    max-width:100%;
}

.indexbody h2 {
    text-align:center;
    color:#333;
    font-size:3vm;
}

.indexbody h3 {
    text-align:center;
    color:#333;
    font-size:2.5vm;
}
